@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .table-divisor {
    position: relative;
  }
  .table-divisor::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: calc(100% - 40px);
    background-color: #eaeffa;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  input[type="date"]::-webkit-clear-button {
    display: none;
  }

  input[type="date"]::-webkit-datetime-edit-fields-wrapper,
  input[type="date"]::-webkit-datetime-edit-text,
  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field,
  input[type="date"]::-webkit-datetime-edit-year-field {
    background-color: transparent;
  }

  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field,
  input[type="date"]::-webkit-datetime-edit-year-field {
    border-bottom: 1px solid #adbfdf;
  }
  input[type="date"] {
    position: relative;
  }
  input[type="date"]::before,
  input[type="date"]::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: red;
    bottom: 2px;
    border-radius: 50%;
  }
}
